.clicks{
    cursor:pointer;
}
#box {
    background-color: rgb(233, 194, 19);
    height: 350px;
    width: 700px;
   display:none;
}

body {
background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(69, 135, 247));
}

h3 {
    margin-left: 15rem;
}

#cross {
    cursor: pointer;
    color: rgb(61, 250, 86);
}

.head {
    align-items: center;
    display: flex;
    justify-content: space-between
}

#box.show {
    visibility: visible;
}